* {
  box-sizing: border-box;
}
header {
  background: #444;
  color: #2FC2FF;
  padding: 25px;
}
h1 {
  font-style: oblique;
  font-size: 20px;
  margin-bottom: 20px;
}
p {
  font-family: fantasy;
  margin-bottom: 20px;
}
h2 {
  font-size: 20px;
  margin-bottom: 5px;
  margin-right: 30px;
}

img {
  width: 100%;
}
