html {
 background: url('img/IMAG1113 copy.png') no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 }
* {
  opacity: .9;
  box-sizing: border-box;
}
header {
  background: #211B27;
  /*background-image: 'img/IMAG113 copy.png';*/
  color: #2FC2FF;
  padding: 25px;
}
h1 {
  font-style: oblique;
  font-size: 30px;
  margin-bottom: 20px;
}
p {
  font-family: fantasy;
  margin-bottom: 20px;
}
h2 {
  font-size: 20px;
  margin-bottom: 5px;
  margin-right: 30px;
}

img {
  width: 100%;

html {

}
