.row {
  width: 100vw;
  margin: 10px auto;
  overflow: hidden;
}
.col-12 {
  width: 100%;
}
.col-6 {
  width: calc(100%/2);
}
.col-4 {
  width: calc(100%/3 - 20px);
  float: left;
  margin: auto 10px;
}
.col-3 {
  width: calc(100%/4);
}
.col-2 {
  width: calc(100%/6);
}

@media only screen and (min-width: 640px) {
  .heading-group-h1 {
    padding: .1em .1em .1em 2em;
    float: none;
  }

  #filters select {
    width: 15em;
    margin: .2em .2em;
  }

  #filters li {
    width: 20em;
    display: inline;
  }
}
