nav ul li{
  display: inline;
  float: right;
  border: 1px solid black;
  background-color: white;
}

@media only screen and (min-width: 640px) {
  nav ul {
    display: block;
    float: right;
  }

@media only screen and (max-width: 360px) {
  #projects {
    max-width: 80%;
    margin: 0 auto;
  }
}

  nav span.icon-menu {
    display: none;
  }
};
