header {
  background: #12C8FF;
  color: #12C8FF;
  padding: 25px;
}
h1 {
  font-style: oblique;
  font-size: 20px;
  margin-bottom: 20px;
}
p {
  font-family: fantasy;
  margin-bottom: 20px;
}
h2 {
  font-size: 20px;
  margin-bottom: 5px;
  margin-right: 30px;

}

nav ul li{
  display: inline;
  float: right;
  border: 1px solid black;
  background-color: white;


}
 @media screen and (max-width: 600px) {
   nav ul lI{
     display: none;

   }
 }
